<div>
  <div [hidden]="hideUsers">
    <ul>
      <h2 class="availtxt">Available Players To Play:</h2>
      <h3>Click Players That You Want To Join:</h3>
      <div *ngFor="let availablePlayer of availablePlayers">
        <li *ngIf="availablePlayer.player !== user1">
          <a class="anchor" (click)="joinGame(availablePlayer.player)">{{availablePlayer.player}}</a>
        </li>
      </div>
    </ul>
  </div>
  <div>
    <h2 *ngIf='availablePlayers && ((!availablePlayers.length) || ((availablePlayers.length === 1) && availablePlayers[0].player === user1))'
      class="msg">{{msg}}</h2>
  </div>
  <br><br><br>
  <div>
    <button class="addlist" (click)="addToList()">Create the new Game</button>
  </div>
</div>