/* You can add global styles to this file, and also import other style files */
body {
    background-color: #fff;
    color: #fff;
    font-family: 'Dosis', Helvetica, sans-serif;
    text-align: center;
  }
  
  h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
  }